<div class="test-result">
<h3><a name="{{slug}}" href="#{{slug}}">{{title}}</a></h3>
<ul class="tags">
  {%- for tag in tags -%}
  <li>{{tag}}</li>
  {%- endfor -%}
</ul>
<div class="description">
  {{description | safe}}
</div>
{%- if artifacts -%}
<p>
  Additional artifacts:
  <ul>
    {%- for artifact in artifacts -%}
    <li>
      <form action="{{dump_url()}}" method="post">
	<label>
	  {{artifact.0}}
	  <button type="submit" title="Inspect with packet dumper">🔎</button>
	</label>
	<input name="data" type="hidden" value="{{artifact.1 | pgp2string}}" />
      </form>
    </li>
    {%- endfor -%}
  </ul>
</p>
{%- endif -%}
<table class="matrix">
  <tr style="border: none">
    <th></th>
    <th class="rotate"><div><span>Consumer</span></div></th>
    {%- for impl in consumers -%}
    <th class="rotate"><div><span>{{impl.summary}}</span></div></th>
    {%- endfor -%}
    <th class="rotate"><div><span>Expectation</span></div></th>
    <th class="rotate"><div><span>Comment</span></div></th>
  </tr>
  <tr>
    <th>Producer</th>
    <th>Artifact</th>
  </tr>
  {%- for row in results -%}
  <tr class="vector vector-{{row.class}}">
    <td>{{row.artifact.producer}}</td>
    <td class="score {{ row.artifact.score | score2class }}">
      {%- if row.artifact.data -%}
      <form action="{{dump_url()}}" method="post">
	<button type="submit" title="Inspect with packet dumper">🔎</button>
	<input name="data" type="hidden" value="{{row.artifact.data | pgp2string}}" />
      </form>
      {%- endif -%}
      {%- if row.artifact.error -%}
      <span title="{{row.artifact.error | addslashes}}">✗</span>
      {%- endif -%}
    </td>
    {%- if row.results -%}
    {%- for result in row.results -%}
    <td class="score {{ result.score | score2class }}">
      {%- if result.error -%}
      <div title="{{result.error | addslashes}}">
	✗
	<div>
	  <pre>{{result.data | safe | hexdump}}</pre>
	</div>
      </div>
      {%- else -%}
      <div>
	✓
	<div>
	  <pre>{{result.data | safe | hexdump}}</pre>
	</div>
      </div>
      {%- endif -%}
    </td>
    {%- endfor -%}
    {%- else -%}
    {%- for _ in consumers -%}
    <td></td>
    {%- endfor -%}
    {%- endif -%}
    <td class="score">
      {%- if row.expectation -%}
        {%- if row.expectation.Ok -%}
          <span>✓</span>
        {%- else -%}
          <span>✗</span>
        {%- endif -%}
      {%- endif -%}
    </td>
    <td class="score">
      {%- if row.expectation -%}
        {%- if row.expectation.Ok -%}
          <span>{{ row.expectation.Ok }}</span>
        {%- else -%}
          <span>{{ row.expectation.Err }}</span>
        {%- endif -%}
      {%- endif -%}
    </td>
  </tr>
  {%- endfor -%}
</table>
</div>
